/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abril-fatface-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Abril Fatface'), local('AbrilFatface-Regular'),
       url('../fonts/abril-fatface-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/abril-fatface-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/abril-fatface-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/abril-fatface-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/abril-fatface-v11-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

